<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingour.jdbc.gpdb.dao.pgsql.mybatis.TableMapper" >

    <select id="testPrt" resultType="string">
        select '1' as d from demo_prt where id='2068801' order by d
    </select>

    <select id="testNoPrt" resultType="string">
        select '1' as d from demo where id='2068801' order by d
    </select>

</mapper>